@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --border: 226 232 240;
  }
}

@layer base {
  * {
    border-color: rgb(var(--border) / 0.2);
  }
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
